extends ./elements/templates/base


block content
    button(data-js-collapse="#p")
        | collapse
        
    p#p(style="display: none")
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        br
        | Deleniti nobis fuga accusantium minus praesentium nihil nam. 
        br 
        | Iste exercitationem, possimus nesciunt, consectetur, nobis 
        br 
        | beatae dolores rerum a ipsam impedit quo veniam.

    include ./elements/chunks/card