
footer.footer.page__footer 
    ._inner
        a.logo._logo(href="#")
            | logo 

        nav.nav._nav 
            ul._list.-horizontal
                li._item 
                    a._link(href="#")
                        | link

                li._item 
                    a._link(href="#")
                        | link

                li._item 
                    a._link(href="#")
                        | link

        address.contacs._contacts
            p.contact.-phone._item 
                strong
                    | Phone: 

                a._link(href="tel:5555555")
                    | 555-55-55

            p.contact.-email._item 
                strong
                    | E-Mail: 

                a._link(href="mailto:a@b.c")
                    | a@b.c
        
.copyright 
    | &copy;copyright