header.header.page__header
    ._inner
        a.logo._logo(href="")
            | logo 

        nav.nav._nav 
            ul._list.-horizontal
                li._item 
                    a._link(href="#")
                        | link 1
                        
                li._item 
                    a._link(href="#")
                        | link 2
                        
                li._item 
                    a._link(href="#")
                        | link 3

        address.contacs._contacts
            p.contact.-phone._item 
                strong
                    | Phone: 

                a(href="tel:5555555")
                    | 555-55-55

            p.contact.-email._item 
                strong
                    | E-Mail: 

                a(href="mailto:a@b.c")
                    | a@b.c


        .controls._controls
            button.control.-menu._item 
                | Show menu