aside.sidebar.page__sidebar 
    h3._title 
        | Sidebar 

    nav.nav._nav 
        ul._list.-vertical
            li._item 
                a._link(href="#")
                    | Link 1
                    
            li._item 
                a._link(href="#")
                    | Link 2
                    
            li._item 
                a._link(href="#")
                    | Link 3

    form.form._form(method="post")
        ._group
            label._label(for="#search")
                | Search
            
            input.input.-search._input#search(type="search" placeholder="?" required)

        button.button.-primary._button(type="submit")
            | Go!